---
import BaseLayout from "src/layouts/BaseLayout.astro"
import CTA from "@components/CTA.astro"
import "@styles/index.less"
import projects from "@data/projects.json"
---

<BaseLayout
  title="İşletmeniz İçin Web Tasarım | Sosyal Medya Yönetimi | Sosyal Medya Pazarlama"
  description="WordPress ya da başka bir hazır platform yerine, 100% elle kodlanmış, üstün sonuçları olan websiteleri sunuyoruz."
>
  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->

  <section id="hero-1203">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Laodikya Web</span>
        <h1 class="cs-title">İşletmeleriniz için Web Tasarımı & Yazılımı</h1>
        <p class="cs-text">
          WordPress ya da başka bir hazır platform yerine, işletmelerinize 100%
          elle kodlanmış, üstün sonuçları olan websiteleri sunuyoruz.
        </p>
        <a href="/iletisim" class="cs-button-solid">İletişime Geç &gt;</a>
      </div>
      <!--To make your own background crops of people use https://www.remove.bg/-->
      <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/hero2.png" />
        <source media="(min-width: 601px)" srcset="/assets/images/hero2.png" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/hero2.png"
          alt="accountant"
          width="886"
          height="842"
        />
      </picture>
    </div>
    <!--Floating Arrow-->
    <img
      class="cs-floater"
      aria-hidden="true"
      decoding="async"
      src="/assets/svgs/pillar.svg"
      alt="icon"
      width="1465"
      height="950"
    />
  </section>

  <!-- ============================================ -->
  <!--                  Services                    -->
  <!-- ============================================ -->

  <section id="services-690">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-flex-group">
          <h2 class="cs-title">
            <span class="cs-color">Ne </span>Yapıyoruz?
          </h2>
        </div>
        <p class="cs-text">
          Güvenilir ve profesyonel bir web sitesi; işletmenizin dijital
          varlığınızı güçlendirir, markanızı tanıtır ve müşterilerinize
          ulaşmanızı sağlar. Online varlığınızı güçlendirmek için size özel web
          tasarım çözümleri sunuyoruz.
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <a href="" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="/assets/svgs/speed.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true"
              />
            </picture>
            <h3 class="cs-h3">İnanılmaz Hızlı</h3>
            <p class="cs-item-text">
              İnternet aramalarının 60%'ı mobil cihazlardan yapılıyor. En iyi
              performansı göstermeniz için, mobil hızını en iyi haline
              getiriyoruz. Hazır site oluşturucuların aksine, sitenizin hızlı ve
              optimize olması için el ile kodlama yapıyoruz.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true"
              />
            </picture>
            <h3 class="cs-h3">Her Ekrana Uygun</h3>
            <p class="cs-item-text">
              Yeni müşterileriniz size herhangi bir yerden erişebilsin diye,
              yeni websiteniz tüm telefon ekran boyutlarına, tabletlere ve
              bilgisayar boyutlarına uygun olacak.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true"
              />
            </picture>
            <h3 class="cs-h3">100 Google Sayfa Skoru</h3>
            <p class="cs-item-text">
              Arama sıralamanızı arttırmak için Google Sayfa Hızı puanlarında
              100 puanı yakalayabiliyoruz.
            </p>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                 Why Choose                   -->
  <!-- ============================================ -->

  <section id="why-choose-892">
    <div class="cs-container">
      <div class="cs-content">
        <h2 class="cs-title">
          <span class="cs-color">0₺ Ön Ödeme</span>, Aylık Plan, Minimum 6 Ay
          Sözleşme
        </h2>
        <p class="cs-text">
          Standart 5 sayfalık bir websitesi için ön ödeme yok. Daha fazla sayfa
          isterseniz; işin boyutuna, ekstra sayfa sayısına ve harcanan zamana
          göre özel fiyatlandırma yapıyoruz.
        </p>
        <p class="cs-text">
          Domain, içerik, listeleme ve profiller size ait. İstediğiniz zaman
          kolayca ve ücretsiz iptal edin.
        </p>
      </div>
      <ul id="list-1075" class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/pillar.svg"
            decoding="async"
            alt="icon"
            width="48"
            height="48"
            loading="lazy"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Hosting Dahil</h3>
            <p class="cs-li-text">Hosting ücretleri aylık ücrete dahil.</p>
          </div>
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/pillar.svg"
            decoding="async"
            alt="icon"
            width="48"
            height="48"
            loading="lazy"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Sınırsız Düzenleme</h3>
            <p class="cs-li-text">
              İstediğiniz şeyi istediğiniz zaman değiştirin, aynı gün içinde
              güncellenir.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/pillar.svg"
            decoding="async"
            alt="icon"
            width="48"
            height="48"
            loading="lazy"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">7/24 Müşteri Hizmetleri</h3>
            <p class="cs-li-text">
              Gece veya gündüz, her zaman direkt olarak bizi arayın, otomatik
              cevaplar & robot telesekreter yok.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/pillar.svg"
            decoding="async"
            alt="icon"
            width="48"
            height="48"
            loading="lazy"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Web Tasarım & Geliştirme</h3>
            <p class="cs-li-text">
              40 saatin üzerinde tasarım, kodlama ve test sürecini içerir.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/pillar.svg"
            decoding="async"
            alt="icon"
            width="48"
            height="48"
            loading="lazy"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">100 Google Sayfa Hızı Skoru</h3>
            <p class="cs-li-text">
              Arama sıralamanızı ve müşteri dönüşünü arttırmak için için Google
              Sayfa Hızı puanlarında 100 puanı yakalayabiliyoruz.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/pillar.svg"
            decoding="async"
            alt="icon"
            width="48"
            height="48"
            loading="lazy"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Google Analytics</h3>
            <p class="cs-li-text">
              Sitenizin ziyaretçilerini izleyip nereden geldiğini öğrenmeniz
              için ücretsiz olarak Google Analytics kuruyoruz.
            </p>
          </div>
        </li>
      </ul>

      <a href="/iletisim/" class="cs-button-solid">İletişime Geç &gt;</a>
      <!--Floating Arrow Graphic-->
      <!-- <img
        class="cs-floater"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Forange-arrow.svg"
        alt="arrow"
        loading="lazy"
        decoding="async"
        aria-hidden="true"
      /> -->
    </div>
  </section>

  <!-- ============================================ -->
  <!--                 Projects                   -->
  <!-- ============================================ -->

  <section id="projects">
    <ul class="projects-ul">
      {
        projects.map((project) => (
          <li class="project">
            <a
              href={project.href}
              target="_blank"
              rel="noreferrer2"
              class="link"
            >
              <picture class="picture">
                <source media="(max-width: 600px)" srcset={project.mobileImg} />
                <source
                  media="(min-width: 601px)"
                  srcset={project.desktopImg}
                />
                <img
                  aria-hidden="true"
                  decoding="async"
                  src={project.desktopImg}
                  alt={`${project.title} site ekran görüntüsü`}
                  width="569"
                  height="383"
                />
              </picture>
              <div class="content">
                <h2 class="title">{project.title}</h2>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>

  <CTA />
</BaseLayout>
